@{
    Layout = null;
}
<style>
    .btn-info {
        background-color: #17a2b8; /* Blue for info */
        border-color: #17a2b8;
    }

    .btn-info:hover {
        background-color: #138496; /* Darker blue for hover */
        border-color: #117a8b;
    }

    .btn-danger {
        background-color: #dc3545; /* Red for danger */
        border-color: #dc3545;
    }

    .btn-danger:hover {
        background-color: #c82333; /* Darker red for hover */
        border-color: #bd2130;
    }
</style>

@model List<Movie>

<table border="1" style="border-collapse: collapse; width: 100%;">
    <thead class="fw-bold">
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Director</th>
        <th>Rating</th>
        <th>Edited</th>
        <th>Lent To</th>
        <th>Copied to Plex</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    @if (Model != null && Model.Any())
    {
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Title</td>
                <td>@x.Year</td>
                <td>@x.Director</td>
                <td>@x.Rating</td>
                <td>@x.Edited</td>
                <td>@x.LentTo</td>
                <td>@x.CopiedToPlex</td>
                <td>@x.Notes</td>

                <td>
                    <button class="btn btn-info" onclick="location.href='@Url.Action("Edit", "Home", new { id = x.MovieId })'">Edit</button>
                </td>
                <td>
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Home", new { id = x.MovieId })'">Delete</button>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="8" style="text-align: center;">No movies available</td>
        </tr>
    }
    </tbody>
</table>
